/*font*/
/*font*/
/*color*/
/*color*/
.bu_collapsible:focus:after,
.bu_collapsible:hover:after {
  border-top-color: #CC0000; }

.bu_collapsible_open .bu_collapsible:focus:after,
.bu_collapsible_open .bu_collapsible:hover:after {
  border-top-color: transparent;
  border-bottom-color: #CC0000; }

.bu_collapsible {
  overflow: visible; }

.bu_collapsible_container {
  background: #222222;
  background: radial-gradient(ellipse at top center, rgba(34, 34, 34, 0.4) 0%, rgba(34, 34, 34, 0) 70%, rgba(34, 34, 34, 0) 100%);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 100% 4px;
  padding: 8px 0 13px; }

.bu_collapsible_open.bu_collapsible_container {
  background: none; }

/* Added by Alex for Thickbox */
/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> global settings needed for thickbox <<<-----------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
* {
  padding: 0;
  margin: 0; }

/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> thickbox specific link and font settings <<<------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
#TB_window {
  font: 12px Arial, Helvetica, sans-serif;
  color: #333333; }

#TB_secondLine {
  font: 10px Arial, Helvetica, sans-serif;
  color: #666666; }

#TB_window a:link {
  color: #666666; }

#TB_window a:visited {
  color: #666666; }

#TB_window a:hover {
  color: #000; }

#TB_window a:active {
  color: #666666; }

#TB_window a:focus {
  color: #666666; }

/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> thickbox settings <<<-----------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
#TB_overlay {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; }

.TB_overlayMacFFBGHack {
  background: url("/metinternational/files/2017/05/macFFBgHack.png") repeat; }

.TB_overlayBG {
  background-color: #000;
  filter: alpha(opacity=75);
  -moz-opacity: 0.75;
  opacity: 0.75; }

* html #TB_overlay {
  /* ie6 hack */
  position: absolute;
  height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px'); }

#TB_window {
  position: fixed;
  background: #ffffff;
  z-index: 102;
  color: #000000;
  display: none;
  border: 4px solid #525252;
  text-align: left;
  top: 50%;
  left: 50%; }

* html #TB_window {
  position: absolute;
  margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px'); }

#TB_window img#TB_Image {
  display: block;
  margin: 15px 0 0 15px;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #666;
  border-left: 1px solid #666; }

#TB_caption {
  height: 25px;
  padding: 7px 30px 10px 25px;
  float: left; }

#TB_closeWindow {
  height: 25px;
  padding: 11px 25px 10px 0;
  float: right; }

#TB_closeAjaxWindow {
  padding: 7px 10px 5px 0;
  margin-bottom: 1px;
  text-align: right;
  float: right; }

#TB_ajaxWindowTitle {
  float: left;
  padding: 7px 0 5px 10px;
  margin-bottom: 1px; }

#TB_title {
  background-color: #e8e8e8;
  height: 27px; }

#TB_ajaxContent {
  clear: both;
  padding: 2px 15px 15px;
  overflow: auto;
  text-align: left;
  line-height: 1.4em; }

#TB_ajaxContent.TB_modal {
  padding: 15px; }

#TB_ajaxContent p {
  padding: 5px 0; }

#TB_load {
  position: fixed;
  display: none;
  height: 13px;
  width: 208px;
  z-index: 103;
  top: 50%;
  left: 50%;
  margin: -6px 0 0 -104px;
  /* -height/2 0 0 -width/2 */ }

* html #TB_load {
  /* ie6 hack */
  position: absolute;
  margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px'); }

#TB_HideSelect {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  border: none;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  opacity: 0;
  height: 100%;
  width: 100%; }

* html #TB_HideSelect {
  /* ie6 hack */
  position: absolute;
  height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px'); }

#TB_iframeContent {
  clear: both;
  border: none;
  margin-bottom: -1px;
  margin-top: 1px;
  _margin-bottom: 1px; }

#TB_ajaxContent {
  width: auto !important;
  padding: 0 !important;
  position: relative;
  height: calc(100% - 27px) !important;
  margin: auto;
  padding: 0; }
  #TB_ajaxContent iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%; }

#TB_window {
  height: 672px; }

.brand {
  padding: 0 0 0 25px; }

@media screen and (min-width: 768px) {
  .brand:after {
    background: url("https://www.bu.edu/cdn/images/logos/masterplate112x50.png") no-repeat 0 0;
    content: "Boston University";
    display: block;
    float: right;
    height: 112px;
    margin: 35px;
    text-indent: -9999em;
    width: 112px; } }

@media screen and (min-width: 768px) {
  .brand-masterPlate,
  .brand-masterplate {
    display: none; } }

.brand-signature,
.brand-sponsored {
  background: none;
  padding: 0; }

@media screen and (min-width: 768px) {
  .bannerContainer {
    position: relative; } }

@media screen and (min-width: 768px) {
  .bannerContainer:after {
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    background: radial-gradient(ellipse at left bottom, rgba(34, 34, 34, 0.9) 15%, rgba(34, 34, 34, 0) 50%, rgba(34, 34, 34, 0) 100%);
    background-position: 5% bottom; } }

@media screen and (min-width: 1405px) {
  .bannerContainer:after {
    left: 50%;
    margin-left: -585px; } }

.bannerContainer img {
  max-width: 1170px;
  width: 100%; }

.bannerContainer-windowWidth {
  padding: 0; }

.siteFooter, .siteFooter a {
  color: #DEDEDE; }

@media screen and (min-width: 768px) {
  .siteFooter {
    padding: 50px 50px 50px 25px; } }

@media screen and (min-width: 768px) {
  .has-branding .siteFooter-brand {
    float: right;
    margin: 0 0 0 50px; } }

@media screen and (min-width: 768px) {
  .site-footer-brand + .siteFooter-content {
    margin: 0; } }

.widget h3 {
  font-size: 1.3em;
  line-height: 1.46; }

#contentnav h3,
.widget_nav_menu h3 {
  padding: 10px 10px 10px 0; }

.widget a:link {
  color: #000; }

.widget a:visited {
  color: #000; }

.widget a:hover {
  color: #CC0000;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.widget a:active {
  color: #000; }

.widgetTitle a:after {
  content: none; }

#contentnav li a:link,
#contentnav li a:visited,
.widget_nav_menu li a:link,
.widget_nav_menu li a:visited {
  color: #222;
  padding: 0.625em;
  font-size: 1em;
  line-height: 1.46em;
  display: block;
  text-decoration: none; }

#contentnav li a:hover,
.widget_nav_menu li a:hover {
  color: #CC0000;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: #F0F0F0; }

#contentnav .current_page_ancestor > a:visited,
#contentnav .current_page_ancestor > a:link,
#contentnav .current_page_item > a:visited,
#contentnav .current_page_item > a:link,
.widget_nav_menu .current_page_ancestor > a:visited,
.widget_nav_menu .current_page_ancestor > a:link,
.widget_nav_menu .current_page_item > a:visited,
.widget_nav_menu .current_page_item > a:link {
  font-weight: bold; }

.widget ul a {
  text-decoration: none; }

#contentnavlist.widget ul > li a:hover {
  background: #F0F0F0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

#bu_calendar-2 > ul > li:nth-child(even) {
  background: #f0f0f0; }

#bu_calendar-2 > ul > li:hover {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: #F0F0F0; }

#bu_calendar-2 > ul > li {
  display: table;
  width: 100%; }

#bu_calendar-2 > ul > li > a {
  display: table-row; }

.widget-bu-calendar .graphic li {
  padding: 7px 0; }

.widget-bu-calendar .graphic li:first-child {
  padding-top: 10px;
  margin-top: -20px; }

.widget-bu-calendar .graphic a {
  padding: 0;
  margin: 0;
  position: static; }

.widget-bu-calendar .graphic .date {
  font-family: "Benton", Helvetica, sans-serif;
  font-size: 1em;
  display: table-cell;
  border-right: 1px solid #ccc;
  position: static; }

.widget-bu-calendar .graphic .day {
  font-size: 1em;
  line-height: 1;
  font-weight: normal; }

.widget-bu-calendar .graphic .month {
  font-size: 0.75em;
  line-height: 1;
  font-weight: normal; }

.event-title {
  display: table-cell;
  font-size: 0.75em;
  line-height: 1.46;
  vertical-align: middle;
  padding-left: 10px; }

/*media queries*/
/*media queries*/
/*Start Flyer CSS*/
.flyer-column {
  width: 400px;
  background-color: #f2f2f2;
  padding: 25px;
  border: 1px solid #DEDEDE;
  margin-bottom: 25px; }

.flyer-column > a[target=_blank]:after {
  content: none; }

img.flyer {
  display: inline-block;
  margin: 0 10px 0 0; }

h3.flyer {
  display: inline-block;
  vertical-align: top; }

/*End Flyer CSS*/
h1 {
  color: #222;
  font-size: 2.2em; }

@media only screen and (min-width: 768px) {
  .bannerContainer + .content-container h1 {
    margin-top: -1.675em;
    font-size: 3em;
    line-height: 1.25em; }
    .bannerContainer + .content-container h1:first-line {
      color: #FFF; } }
a {
  color: #CC0000; }

.content article a,
.content article a:active,
.content article a:link {
  border-bottom: 1px dotted #CC0000;
  text-decoration: none; }

.content article a:visited {
  border-bottom: 1px dotted #8f1e1e;
  color: #8f1e1e; }

.responsive-table {
  background: linear-gradient(90deg, white 30%, rgba(255, 255, 255, 0)), linear-gradient(90deg, rgba(255, 255, 255, 0), white 70%) 100% 0, radial-gradient(farthest-side at 0 50%, rgba(0, 0, 0, 0.25), transparent), radial-gradient(farthest-side at 100% 50%, rgba(0, 0, 0, 0.25), transparent) 100% 0;
  background-repeat: no-repeat;
  background-color: white;
  background-size: 25px 100%, 25px 100%, 7px 100%, 7px 100%;
  background-attachment: local, local, scroll, scroll;
  z-index: 100;
  position: relative; }

h2 {
  font-size: 1.6em;
  line-height: 1.15em; }

h3 {
  font-size: 1.3em;
  line-height: 1.15em; }

h4 {
  font-size: 1em;
  line-height: 1.15em; }

/*End Headings*/
/*Start Button Styles */
#quicksearch .archive .paging-navigation a,
#quicksearch .archive .paging-navigation a,
#quicksearch .button,
#quicksearch .news-posts .paging-navigation a,
#quicksearch .news-posts .paging-navigation a,
#quicksearch .single .archiveLink,
#quicksearch .single a.archiveLink,
#quicksearch .single-calendar .archiveLink,
#quicksearch .single-calendar a.archiveLink,
#quicksearch a.button,
#quicksearch button,
#quicksearch html input[type="button"],
#quicksearch input[type="reset"],
#quicksearch input[type="submit"],
.archive .paging-navigation #quicksearch a,
.archive .paging-navigation #quicksearch a,
.archive .paging-navigation a,
.archive .paging-navigation a,
.button-primary,
.button-selected,
.news-posts .paging-navigation #quicksearch a,
.news-posts .paging-navigation #quicksearch a,
.news-posts .paging-navigation a,
.news-posts .paging-navigation a,
.single #quicksearch .archiveLink,
.single #quicksearch a.archiveLink,
.single .archiveLink,
.single a.archiveLink,
.single-calendar #quicksearch .archiveLink,
.single-calendar #quicksearch a.archiveLink,
.single-calendar .archiveLink,
.single-calendar a.archiveLink,
a.button-primary,
a.button-selected,
html #quicksearch input[type="button"] {
  background-color: #cc0000; }

/*End Button Styles*/
/*Start unordered list in two columns*/
ul.doubleColumn {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  list-style-type: bullet; }

/*End unordered list in two columns*/
/*Start Social Media Styles*/
.social-buttons ul {
  display: inline-block;
  text-align: center; }

.social-buttons li {
  padding-left: 0;
  display: inherit; }

.social-buttons a {
  display: block;
  height: 32px;
  width: 32px;
  background: url("/metinternational/files/2015/08/socialmedia-32px.png") 0 0 no-repeat;
  text-indent: -9999em;
  margin: 0 0.2em; }

.social-buttons a:hover {
  background: url("/metinternational/files/2015/08/socialmedia-32px.png") 0 0 no-repeat;
  opacity: 0.7; }

.social-buttons a[href*="twitter"] {
  background-position: -33px 0; }

.social-buttons a[href*="youtube"] {
  background-position: -66px 0; }

.social-buttons a[href*="linkedin"] {
  background-position: -99px 0; }

.social-buttons a[href*="blog"] {
  background-position: -132px 0; }

/*End Social Media Styles*/
/*Start Page Styles*/
.home .content-container img {
  border: 1px solid #cacaca; }

.content-container dl,
.content-container ol,
.content-container p,
.content-container ul {
  margin-bottom: 22px; }
.content-container img {
  display: block; }
  .content-container img.alignleft {
    float: none;
    margin: 0 auto 1em; }
  .content-container img.alignright {
    float: none;
    margin: 0 auto 1em; }
.content-container .contained {
  background: #FFF;
  box-sizing: content-box;
  position: relative; }
.content-container .block-container {
  background: #fafafa url("/met/wp-content/themes/flexi-met/images/negative-bg.png") repeat scroll left top;
  border: 1px solid #cacaca;
  overflow: hidden;
  padding: 1em 2em 0;
  min-height: 232px; }
  .content-container .block-container:after {
    content: "";
    display: table;
    clear: both; }
  .content-container .block-container p:first-child,
  .content-container .block-container p:last-child {
    margin: 0; }
.content-container .video {
  height: 0;
  position: relative;
  padding: 56.25% 0 0;
  width: 100%; }
  .content-container .video iframe {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; }
.content-container .video-content {
  background: #fafafa url("/met/wp-content/themes/flexi-met/images/negative-bg.png") repeat scroll left top;
  border: 1px solid #cacaca;
  margin: 0 0 2.5em;
  padding: 0 2em; }
.content-container table {
  font-size: 0.875em; }
.content-container .lead-in p {
  color: #6a6a6a;
  font-size: 1.125em;
  margin-bottom: 1.375em; }

@media only screen and (min-width: 520px) {
  .content-container {
    padding-top: 20px; }
    .content-container img.alignleft {
      float: left;
      margin: 0.5em 1em 1em 0; }
    .content-container img.alignright {
      float: right;
      margin: 0.5em 0 1em 1em; }
    .content-container .contained.alignleft {
      margin: 1em -1em 1em 0; }
    .content-container .contained.alignright {
      margin: 1em 0 1em -1em; }
    .content-container .video {
      float: right;
      margin: 0 0 1em 1em;
      padding: 33.75% 0 0;
      width: 60%; }
    .content-container .video-content {
      margin: 2em 1em 0 0; } }
.content article .block-container .button {
  border: 1px solid #CACACA;
  color: #000; }
  .content article .block-container .button:after {
    color: #999;
    content: " \25BB";
    font-family: "BU-Default-Icons";
    vertical-align: top; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.content-container a[target="_blank"]:after {
  content: "\00a0\EE00";
  font-family: "BU-Default-Icons";
  font-size: 14px;
  vertical-align: bottom; }

a[href*="mailto"]:after {
  content: "\00a0\2709";
  font-family: "BU-Default-Icons";
  font-size: 14px;
  vertical-align: bottom; }

.content article .edit-link {
  top: -6em; }
  .content article .edit-link a,
  .content article .edit-link a:link,
  .content article .edit-link a:visited {
    border-color: #fff;
    color: #fff; }

.column ul {
  margin: 0; }
.column h1 + ol, .column h1 + ul,
.column h2 + ol,
.column h2 + ul,
.column h3 + ol,
.column h3 + ul,
.column h4 + ol,
.column h4 + ul,
.column h5 + ol,
.column h5 + ul,
.column h6 + ol,
.column h6 + ul,
.column p + ol,
.column p + ul {
  margin-bottom: 22px; }
.column p:first-child,
.column p:last-child {
  margin: 0; }

.content .staff h3 span {
  text-transform: uppercase; }

@media only screen and (min-width: 768px) {
  .column {
    float: left;
    padding: 0 0 0 1em; }
    .column ul {
      margin: 0 0 22px; }

  .two.column {
    padding: 0 1em 0 0;
    width: 50%; }
    .two.column + .two.column {
      padding: 0 0 0 1em; } }
.home .bannerContainer {
  background: #000;
  padding: 0 0 5em;
  overflow: hidden; }

.bu-slideshow-container {
  overflow: visible; }

.bu-slideshow-container .bu-slideshow-slides .bu-slideshow li .bu-slide-container .bu-slide-caption .bu-slide-caption-title {
  color: #fff;
  font-family: "Benton", Helvetica, sans-serif;
  font-size: 1.25em;
  font-weight: bold;
  line-height: 1.25em;
  padding: 0 0.5em; }

.bu-slideshow-container .bu-slideshow-slides .bu-slideshow li .bu-slide-container .bu-slide-caption {
  background: none;
  position: static; }

.bu-slideshow-container .bu-slideshow-slides .bu-slideshow li .bu-slide-container img {
  display: block; }

@media only screen and (min-width: 520px) {
  .home .bannerContainer {
    padding: 0 0 3em; }

  .bu-slideshow-container .bu-slideshow-slides .bu-slideshow li .bu-slide-container .bu-slide-caption .bu-slide-caption-title {
    opacity: 0;
    transition: 0.4s 1s opacity ease-in, 0.4s 1s text-indent ease-in;
    text-indent: 0.25em; }

  .bu-slideshow-container .bu-slideshow-slides .bu-slideshow .animate-in .bu-slide-container .bu-slide-caption .bu-slide-caption-title {
    text-indent: 0;
    opacity: 1; } }
@media only screen and (min-width: 768px) {
  .home .bannerContainer {
    padding: 0; }

  .bu-slideshow-container .bu-slideshow-slides .bu-slideshow li .bu-slide-container .bu-slide-caption .bu-slide-caption-title {
    font-size: 1.875em;
    line-height: 1.25em;
    text-shadow: 0 0 10px #333; }

  .bu-slideshow-container .bu-slideshow-slides .bu-slideshow li .bu-slide-container .bu-slide-caption {
    width: auto;
    bottom: 20px;
    padding: 0;
    position: absolute; }
    .bu-slideshow-container .bu-slideshow-slides .bu-slideshow li .bu-slide-container .bu-slide-caption p {
      line-height: 1em;
      margin: 0 !important; } }
.bu-slideshow-navigation-container {
  display: none !important; }

@media only screen and (min-width: 768px) {
  .home .content-container h1 {
    color: #000;
    font-size: 2.2em;
    margin-top: 0 !important;
    vertical-align: top;
    z-index: 10000; }
    .home .content-container h1:first-line {
      color: #000 !important; }
    .home .content-container h1 + p {
      margin: 0; }
  .home .bu-slideshow-container {
    margin: 0;
    position: relative; }
    .home .bu-slideshow-container img {
      width: 100%; } }
/*Start Page Styles*/
.content .gallery:after {
  content: "";
  display: table;
  clear: both; }
.content .gallery-item {
  float: left;
  position: relative;
  margin: 0 0 1em; }
  .content .gallery-item a,
  .content .gallery-item a:link,
  .content .gallery-item a:visited {
    border: 0;
    display: block; }
  .content .gallery-item img {
    display: block;
    margin: 0 auto; }

.js .gallery-caption {
  display: none; }

@media only screen and (min-width: 520px) {
  .content .gallery-columns-4 .gallery-item {
    width: 25%; }
    .content .gallery-columns-4 .gallery-item:nth-child(2n+1) {
      clear: none; }
    .content .gallery-columns-4 .gallery-item:nth-child(4n+1) {
      clear: left; } }
/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
  filter: alpha(opacity=80); }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-ajax-holder .mfp-content,
.mfp-inline-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-arrow,
.mfp-close,
.mfp-counter,
.mfp-preloader {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }

.mfp-preloader a {
  color: #CCC; }

.mfp-preloader a:hover {
  color: #FFF; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-arrow,
button.mfp-close {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  -webkit-box-shadow: none;
  box-shadow: none; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  filter: alpha(opacity=65);
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }

.mfp-close:focus,
.mfp-close:hover {
  opacity: 1;
  filter: alpha(opacity=100); }

.mfp-close:active {
  top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333; }

.mfp-iframe-holder .mfp-close,
.mfp-image-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap; }

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  filter: alpha(opacity=65);
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent; }

.mfp-arrow:active {
  margin-top: -54px; }

.mfp-arrow:focus,
.mfp-arrow:hover {
  opacity: 1;
  filter: alpha(opacity=100); }

.mfp-arrow .mfp-a,
.mfp-arrow .mfp-b,
.mfp-arrow:after,
.mfp-arrow:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: medium inset transparent; }

.mfp-arrow .mfp-a,
.mfp-arrow:after {
  border-top-width: 13px;
  border-bottom-width: 13px;
  top: 8px; }

.mfp-arrow .mfp-b,
.mfp-arrow:before {
  border-top-width: 21px;
  border-bottom-width: 21px;
  opacity: 0.7; }

.mfp-arrow-left {
  left: 0; }

.mfp-arrow-left .mfp-a,
.mfp-arrow-left:after {
  border-right: 17px solid #FFF;
  margin-left: 31px; }

.mfp-arrow-left .mfp-b,
.mfp-arrow-left:before {
  margin-left: 25px;
  border-right: 27px solid #3F3F3F; }

.mfp-arrow-right {
  right: 0; }

.mfp-arrow-right .mfp-a,
.mfp-arrow-right:after {
  border-left: 17px solid #FFF;
  margin-left: 39px; }

.mfp-arrow-right .mfp-b,
.mfp-arrow-right:before {
  border-left: 27px solid #3F3F3F; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }

.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 900px; }

.mfp-iframe-holder .mfp-close {
  top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }

.mfp-iframe-scaler iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background-color: #000; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 40px 0;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }

.mfp-figure:after {
  content: '';
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 40px;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background-color: #444; }

.mfp-figure small {
  color: #BDBDBD;
  display: block;
  font-size: 12px;
  line-height: 14px; }

.mfp-figure figure {
  margin: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }

  .mfp-img-mobile img.mfp-img {
    padding: 0; }

  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }

  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }

  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    box-sizing: border-box; }

  .mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0; }

  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }

  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; } }
@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }

  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0; }

  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%; }

  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; } }
.mfp-ie7 .mfp-img {
  padding: 0; }

.mfp-ie7 .mfp-bottom-bar {
  width: 600px;
  left: 50%;
  margin-left: -300px;
  margin-top: 5px;
  padding-bottom: 5px; }

.mfp-ie7 .mfp-container {
  padding: 0; }

.mfp-ie7 .mfp-content {
  padding-top: 44px; }

.mfp-ie7 .mfp-close {
  top: 0;
  right: 0;
  padding-top: 0; }

ul#bu-slideshow-nav-2881 {
  margin-bottom: 20px;
  left: auto;
  right: 20px;
  width: 100px; }

.parent-pageid-4631 article[role=main] .bannerContainer:after {
  background: none; }
.parent-pageid-4631 article[role=main] .bannerContainer img {
  max-width: 150px; }

.post-4631 .bu-list-child-pages div {
  padding: 25px 15px;
  border-bottom: 1px dotted gray;
  position: relative;
  transition: 0.2s background-color ease-in-out; }
  .post-4631 .bu-list-child-pages div:hover {
    background-color: #e6ecf5; }
  .post-4631 .bu-list-child-pages div:first-of-type {
    border-top: 1px dotted gray; }
  .post-4631 .bu-list-child-pages div img {
    float: right;
    margin-left: 10px; }
  .post-4631 .bu-list-child-pages div h3 {
    height: 1.15em;
    margin: 0; }
    .post-4631 .bu-list-child-pages div h3 a {
      position: absolute;
      height: 100%;
      width: 100%;
      border: none; }
  .post-4631 .bu-list-child-pages div p {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 0; }
    .post-4631 .bu-list-child-pages div p em {
      color: #777; }

.thickbox {
  display: inline-block; }

.video-widget h3 {
  text-align: center;
  margin-bottom: 11px; }
.video-widget .thickbox {
  box-shadow: 0 0 3px 2px gray; }

/*# sourceMappingURL=style.scss.map */

/*# sourceMappingURL=style.css.map */
